<!DOCTYPE html>
<html>
  <head>
    <title>Chef Nepter Suggests</title>
  </head>
  <body>
    <div class="container">
      <table>
        <tr><td> Ingredient Name</td><td>Recipe Name</td><td>Eco Score (lower means use sooner)</td></tr>
        {% for  name, location, score, ingredient in recipes %}
        <tr><td> {{ ingredient }} </td><td><a href={{ location }}> {{ name }} </a></td> <td> {{ score }}</td></tr>
        {% endfor %}
        </table>
      <a href="/">Back</a>
    </div>
  </body>
</html>